body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e2f7f5;
  /* warna background mirip gambar */
}

.container {
  max-width: 450px;
  margin: 70px auto;
  background: #ffffff;
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #006d61;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #00574f;
  margin-bottom: 5px;
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #bcdad6;
  border-radius: 10px;
  font-size: 15px;
}

/* textarea {
  resize: vertical;
  height: 80px;
} */

button {
  width: 100%;
  padding: 14px;
  background-color: #009688;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  font-weight: bold;
}

button:hover {
  background-color: #00796b;
}

.footer {
  text-align: center;
  margin-top: 15px;
  color: #006d61;
  font-size: 14px;
}

.footer a {
  color: #009688;
  text-decoration: none;
  font-weight: bold;
}
